*{
  margin: 0;
  padding: 0;
}
.main{
  display: flex;
  height:85vh;
  gap: 30px;
  gap: 0;

}
img{
height:75vh;
width: 35%;
margin-top: 5%;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
.login{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  gap:10px;
}

input{
  width: 150px;
  height:20px
}
form{
  display: flex;
  flex-direction: column;
  margin:3%;
}
button{
  margin-top: 3%;
  height: 30px;
  border-radius: 8px;
  border:none;
}
p{
  color:red
}

