<div class="products" *ngIf="project.length; else noTask">
  <div >
    <div class="display">
      <div class="form-group">

      </div>
     <h3> Assigned Projects</h3>
        <table>
          <tr>
          <th>Project Name</th>
          <th>Description</th>
          <th>Enddate</th>
          <th>Assigned to:</th>
          <th>Delete</th>
          <th>Status</th>
        </tr>
          <tr *ngFor="let projects of project">
            <td> {{projects.name}}</td>
            <td>{{projects.description}}</td>
            <td>{{projects.enddate}}</td>
            <td>{{projects.email}}</td>
            <th><button (click)="update(projects.ProjectsId)">Complete</button></th>
            <td><p *ngIf=complete>Completed</p></td>
          </tr>
        </table>
    </div>
  </div>
</div>

<ng-template #noTask>
  <p>No Projects</p>
</ng-template>

